@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: whitesmoke;
}

body{
  list-style: none;
  max-width: 1400px;
  margin: 0 auto;
}

.user-list {
  margin: 3rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  place-content: center;
  grid-gap: 20px;

}

.user-item {
  width: 100%;
  min-height: 260px;
  max-height: 280px;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.user-item > figure {
  width: 240px;
  height: 160px;
}

.user-item img{
  border-top-left-radius:  .3rem;
  border-top-right-radius: .3rem;
  object-fit: cover;
  width: 100%;
  height: 160px;
  overflow: hidden;

}

.user-info{
  
  display: flex;
  flex-direction: column;
  padding: 1rem ;
}

.user-info h2{
  font-size: 1.1rem;
  margin-bottom: .2rem;
}

.user-info span{
  font-size: 0.8rem;
  color: #777777;
  margin: .2rem 0;
}

/* hover */

.user-info.info-completed{
  display: none;
  width: 209px;
  height: 200px;
  position: absolute;
 
}

.user-item:hover .user-info.info-completed {
  display: flex;
  flex-direction: column;
  border-bottom: 0;
  padding-bottom:0 ;
  animation: identifier 1s ease-in-out forwards;
}



@keyframes identifier {
  from {
      opacity: 0;
      transform: translateY(100px);
  }

  to {
      opacity: 1;
      transform: translateY(25%);
  }
}